# ===== Node.js 関連 =====
node_modules/


# ===== Ruby / Jekyll 関連 =====
.bundle/
vendor/
_site/

# ===== TypeScript =====
tsconfig.tsbuildinfo
assets/*.js           # ビルド成果物（CIで生成するので Git に含めない）

# ===== Sass =====
.sass-cache/
*.css.map             # sourcemaps（必要なければ）
assets/*.css          # Sass出力（Jekyllが処理するなら含めてもOK）

# ===== OS / エディタ固有ファイル =====
.DS_Store
Thumbs.db

# ===== 環境変数ファイル（必要に応じて）=====
.env

github-io-487104-c465a52c0086.json